

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefc01;
  height: 100vh;
}

.app__logo {
object-fit: contain;
height: 100px;

}

.app__body {
  background-image: url( "https://www.pngkey.com/png/detail/859-8598072_picture-freeuse-library-silhouette-mobile-at-getdrawings-cell.png");


  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 250px;
  /* padding: 74px; */
}

.app_bodyBackground {
  background-color: white;
  height: 400px;
  
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
